body {
    text-align: center;
    display: grid;
    grid-template-columns: 20px 550px 20px;
    grid-template-areas: 
    ". hederis ."
    ". herojus ."
    ". paslaugos ."
    ". pirmiStulpeliai ."
    ". freelancas ."
    ". testimonis ."
    ". antriStulpeliai ."
    ". footeris ."
    ". navigacija .";
}
    header {
        grid-area: hederis;
        display: inline-block;
        width: 100%;
        line-height: 60px;
        margin: 10px;
        outline-style: solid;
    }
    .pirmasis {
        grid-area: herojus;
        display: inline-block;
        width: 100%;
        line-height: 120px;
        margin: 10px;
        outline-style: solid;
    }
    .antrasis {
        grid-area: paslaugos;
        display: inline-block;
        width: 100%;
        line-height: 130px;
        margin: 10px;
        outline-style: solid;
    }
        .antrasis > h2 {
            grid-area: pirmiStulpeliai;
            display: inline-block;
            height: 100px;
            width: 500px;
            outline-style: solid;
        }
    .treciasis {
        grid-area: freelancas;
        display: inline-block;
        width: 100%;
        line-height: 100px;
        margin: 10px;
        outline-style: solid;
    }
    .ketvirtasis {
        grid-area: testimonis;
        display: inline-block;
        width: 100%;
        line-height: 140px;
        margin: 10px;
        outline-style: solid;
    }
        .ketvirtasis > h2 {
            grid-area: antriStulpeliai;
            display: inline-block;
            height: 100px;
            width: 500px;
            outline-style: solid;
            line-height: 10px;
        }
    footer {
        grid-area: footeris;
        display: inline-block;
        width: 100%;
        line-height: 100px;
        margin: 10px;
        outline-style: solid;
    }
    nav {
        grid-area: navigacija;
        display: inline-block;
        width: 100%;
        line-height: 100px;
        margin: 10px;
        outline-style: solid;
    }













    @media (max-width: 650px) {
        body {
        }
    }
